- content_for :title do
  Frozen Charlotte Press | Drawings

.wrap--narrow
  - @drawings.each do |drawing|
    = link_to drawing, class: 'image--thumb' do
      = image_tag("drawings/thumbs/#{drawing.thumbnail}", class: 'image')
