.wrap

  %p.footer-text
    Please email me at
    %a.text-link{href: 'mailto: raeleenkao@gmail.com'} RaeleenKao@gmail.com
    for any inquiries.

  %p.footer-text &copy; Copyright 2013. All rights reserved.
