.wrap

  = link_to 'Frozen Charlotte Press', root_path, class: 'logo'

  %nav.nav
    = link_to 'Drawings', '/drawings', class: 'nav__item nav__item--drawings'
    = link_to 'Prints', '/prints', class: 'nav__item nav__item--prints'
    = link_to 'About', '/about', class: 'nav__item nav__item--about'
