.wrap
  .col--left.push
    = image_tag('raeleen.jpg', class: 'raeleen-pic')
    %a.static-links{href: '#'} @raeleenkao
    %a.static-links{href: '#'} RaeleenKao@gmail.com
    %a.static-links{href: '#'} Resume / CV

  .colspan--right
    %h2.static-header Artist Statement
    %p.static-copy In my earliest memory, I was laying heavily sedated on a hospital bed at three years old. In the four hours prior to that memory, my heart had been cut out from chest and my body sustained on a machine which replicated a heart's function of pumping blood through my arteries. I see my work as a record from that first memory through a series of separate chronic conditions and surgical procedures which continue to affect my body.
    %p.static-copy I see beauty as a mask for the morbidity of deterioration and draw on the vanity associated with a desperation to produce a facade of stability as the body becomes increasingly susceptible to illness. The manner in which I depict hair demonstrates the delicacy of an individual strand, the contrived beauty of a braid, and exposes its easily disheveled nature. Hair exists as a form of pride, infamously with Marie Antoinette to its modern importance with cancer patients. In my work, I explore hair as a precise record of health and as an extension of femininity and sexual power, made most evident in its absence under the invasive treatment of chemotherapy.
    %p.static-copy I focus on scars, stitches, and biopsy sites which actively externalize one's most intimate medical history. My self-portraits explore the body as an object vulnerable to physical and psychological trauma as a result of disease and subsequent treatment. My portrayal of the body confronts the prospect of death and exhibits loss and with exhausted passiveness represented by figures curled up in child-like and fetal positions that convey the impression of sleep.
    %p.static-copy These themes of loss are heavily centered on aspects of the body which anatomically define a woman. Historically, there has always been a stigma placed upon women who are unable to conceive, who give birth to stillborn children, or suffer through miscarriages. The shapes I choose to construct reference nests, umbilical cords, and ovum. These images obsess over a destruction of the female reproductive system and the reoccurring trauma which occurs with the loss of a child. ⚰
