.wrap--narrow
  .post
    %h2 9.20.2013
    %p Fountain Art Fair
    = image_tag('fountain2.jpg', class: 'image')
    %p Thanks to all those who came out for the art fair this weekend. We had a lot of fun and we hope you did too!

  .post
    %h2 9.19.2013
    %p Fountain Art Fair
    = image_tag('fountain.jpg', class: 'image')
    %p We're getting reading for the show! Probs the only time lettering will make me cry
