@import load

.image--thumb
  margin-bottom: 15px
  height: 190px
  width: 190px
  float: left
  &:not(:nth-child(3n+3))
    margin-right: 15px

.image--full
  width: 100%

.image
  width: 100%

.image__info
  text-align: center
