@import load

header
  margin:
    top: 1.5em
    bottom: 1.5em
  overflow: auto

.logo
  margin:
    right: auto
    left: auto
  display: block
  background-size: 100%
  text-indent: -9999px
  width: 300px
  height: 58px
  background-image: image-url('logo.png')

.nav
  padding:
    top: 1em
    bottom: 1em
  text-align: center

.nav__item
  padding:
    right: 1em
    left: 1em
