@import load

header
  margin:
    top: 2.5em
    bottom: 3em
  overflow: auto

.logo
  margin:
    right: auto
    left: auto
  display: block
  width: 100%
  max-width: 350px

.nav
  text-align: center

.nav__item
  padding:
    right: .5em
    left: .5em
