header
  position: fixed

.logo
  margin:
    top: 2em
    bottom: 2em
    left: 2em
  display: block
  width: 300px
  height: 58px
  background:
    image: url(/assets/logo.png)
    size: 100%
  text-indent: -9999px

.nav__item
  margin:
    bottom: .5em
    left: 2em
  display: block
  width: 100px
  height: 36px
  background-size: 100%
  text-indent: -9999px

.nav__item--drawings
  background-image: url(/assets/drawings.png)

.nav__item--prints
  background-image: url(/assets/prints.png)

.nav__item--about
  background-image: url(/assets/about.png)

.nav__item--press
  background-image: url(/assets/press.png)

.nav__item--contact
  background-image: url(/assets/contact.png)
