@import load

//.static-header
  //margin-bottom: 1em
  //text-align: center

.static-copy
  margin-bottom: 2em

.raeleen-pic
  margin: 2em auto
  display: block
  height: 300px
  width: 300px
  +border-radius(150px)
