@import compass/reset
@import load

@font-face
  font:
    family: 'gentium'
    weight: normal
    style: normal
  src: font-url('gentium.eot')
  src: font-url('gentium.eot?#iefix') format('eot'), font-url('gentium.woff') format('woff'), font-url('gentium.ttf') format('truetype')

body
  font-family: 'gentium', serif
  line-height: 1.8
  color: $black

h2
  font-size: 1.35em

a
  text-decoration: none
